<div>
    <app-nav></app-nav>
    <div style="margin: 100px;">
        <h1>Compose Mail</h1>
        <form (ngSubmit)="sendMail()">
            <div class="uk-margin">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input name="to" [(ngModel)]="to" class="uk-input" placeholder="To" type="text">
            </div>
            <div class="uk-margin">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input name="subject" [(ngModel)]="subject" class="uk-input" placeholder="Subject" type="text">
            </div>
            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" [(ngModel)]="body" name="body" placeholder="Compose"></textarea>
            </div>
            <button type="submit" class="uk-button uk-button-secondary">Send Mail</button>
        </form>
    </div>
</div>