<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a routerLink="/inbox">Inbox</a></li>
                <li><a routerLink="/outbox">Outbox</a></li>
            </ul>
        </div></div>
        <a class="uk-navbar-item uk-logo" href="#">Email Classifier</a>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li><a routerLink="/compose">Compose New mail</a></li>
            </ul>
        </div></div>

    </div>
</nav>
